body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    border: 1px solid white;
    color: white;
    padding: 10px;
}

.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-link:hover {
    background-color: #525252;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    clear: both;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    border: 1px solid white;
}

.titulo {
    margin: 2vw 0vw;
    font-weight: bold;
    text-align: center;
}

img {
    border-radius: 10%;
    border: 2px solid black;
    width: 4vw;
}

.texto {
    margin: 2vw 0vw;
    font-size: 20px;
}

.logo {
    width: 200px;
    margin-top: 1vw;
}

li {
    transition: 0.5s;
}

.info {
    margin: 0vw 3vw 5vw;
}

.linea {
    display: flex;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
}

p {
    float: left;
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ptext {
    color: black;
}
